.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sampleStyle {
  width: 30px;
  height: 30px;
  background: url(../assets/images/icons.png) no-repeat;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 490px;
  background-color: #ccc;
  border: outset 10px #eee;
}

.topboard {
  display: flex;
  width: 333px;
  height: 70px;
  border: inset 8px #eee;
}

.bottomboard {
  display: flex;
  width: 333px;
  height: 333px;
  border: inset 8px #eee;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
  background-color: gray;
}

.tileStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: darkgray;
  border: outset 5px #eee;
}
