.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sampleStyle {
  width: 30px;
  height: 30px;
  background: url(../assets/images/icons.png) no-repeat;
}

.board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 490px;
  background-color: #ccc;
  border: outset 10px #eee;
}

.topboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 333px;
  height: 80px;
  border: inset 8px #eee;
}

.topleft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 50px;
  font-size: 50px;
  color: red;
  background-color: black;
  border: inset 5px #eee;
}

.topcenter {
  display: flex;
  width: 50px;
  height: 50px;
  background: url(../assets/images/icons.png) no-repeat;
  background-size: 500px;
  border: outset 6px #eee;
}

/* .topcenterclick {
  display: flex;
  width: 50px;
  height: 50px;
  background: url(../assets/images/icons.png) no-repeat;
  background-size: 500px;
  border: inset 6px #eee;
} */

.topright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 50px;
  font-size: 50px;
  color: red;
  background-color: black;
  border: inset 5px #eee;
}

.bottomboard {
  display: flex;
  width: 333px;
  height: 333px;
  border: inset 8px #eee;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
  background-color: gray;
}

.tileStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: darkgray;
  border: outset 5px #eee;
}

.digital-number {
  display: inline-block;
  width: 30px; /* 数字の幅 */
  height: 50px; /* 数字の高さ */
  font-family: 'Courier New', Courier, monospace; /* モノスペースフォントを使用 */
  font-size: 30px; /* 数字のフォントサイズ */
  line-height: 50px; /* 数字の高さと同じ */
  color: lime; /* 数字の色 */
  text-align: center; /* 文字を中央揃え */
  background-color: black; /* 数字の背景色 */
  border: 2px solid lime; /* 数字の枠線 */
  border-radius: 5px; /* 角丸 */
  box-shadow: 0 0 5px rgb(0 255 0 / 50%); /* 影の追加 */
}
